<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Depositor Dashboard</title>

   <link rel="stylesheet" href="css/bumblebee/root.css">
   <link rel="stylesheet" href="css/bumblebee/main.css">

   <link rel="stylesheet" href="css/bumblebee/menu.css">
   <!--<link rel="stylesheet" href="css/bumblebee/form.css">-->
   <!--<link rel="stylesheet" href="css/bumblebee/TabbedViewDockManager.css">-->
   <link rel="stylesheet" href="css/fonts/font-awesome.css">

   <link rel="stylesheet" href="css/sh/bumble-bee.min.css">
   <link rel="stylesheet" href="css/sh/sharehouse.css">
   <link rel="stylesheet" href="css/sh/flyout-toolbox.css">

</head>
<body class="rltv oh">
<div class="blk fp global-host ys rltv">
   <nav class="menubar abs fph blk bg-clr14">
      <div class="fp bg-clr24 clr24">
         <div class="fp blk abs nav-bg pdlr5p"></div>
         <div class="fpv fph95 blk pdl5p fl iblk">
            <div class="fp blk menu-container">
               <div class="head-logo rltv iblk fpv bg-clr24">
                  <div>
                     <a href="index.html">
                        <img src="css/images/SharehouseLogo.png" alt="sharehouse logo" class="">
                     </a>
                  </div>
                  <div></div>
               </div>
               <div class="menu h-menu rltv iblk fpv ">
                  <ul>
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">About</a></li><!-- team info shd be here -->
                     <li><a href="#">Contact</a></li>
                     <li>

                     </li>
                  </ul>
               </div>
            </div>
         </div>

         <div class="fpv hw40 iblk pdtb20">
            <img id="" class="hw40 rc50p bdr" src="css/images/usravatar.png" alt="Checkkit" height="30">
         </div>
      </div>
   </nav>
   <section id="workspace" class="container home fph fpv fpv-80 mt80 oh">
      <div class="toolbox-container w60 fpv fl iblk bg-clr24">
         <div class="toolbox rltv">
            <div class="fph ha ctr-v left0">
               <ul class="toolbox-list">
                  <!--subject -->
                  <li class="">
                     <a class="normalTip " data-tbTip="Subjects" title="Subjects">
                        <span class="toolBoxIconItem commandIcon" data-tbTip="Subjects" data-bgpos="-183,-2">
                           <i class="fa fa-home"></i>
                        </span>
                     </a>
                  </li>

                  <!-- grades-->
                  <li class="active">
                     <a href="#" data-tbTip="Manage Grades" class="noSub">
                        <span class="toolBoxIconItem commandIcon tbIs3" data-bgpos="-216,-74">
                           <i class="fa fa-area-chart"></i>
                        </span>
                     </a>
                  </li>

                  <!--reports-->
                  <!--<li class="">
                     <a href="#" data-tbTip="Reports" class="noSub">
                        <span class="toolBoxIconItem commandIcon tbIs2" data-bgpos="-58,-14">
                           <i class="fa fa-facebook"></i>
                        </span>
                     </a>
                  </li>-->

                  <!--Message-->

                  <!--<li class="hDivider"></li>-->

               </ul>
            </div>
         </div>
      </div>
      <div class="desktop fpv fph-60 iblk pd30 bg-clr27 ys">
         <!--Greeting section-->
         <section class="h100 fph clr10 mb20">
            <p class="fts36 bld6 mb10">Hi Chess</p>
            <p class="fts32 bld4">Here's what happening with your store</p>
         </section>
         <!--Three top data disp-->
         <section class="h100 fph clr10 mb20">
            <div class="fp flex-cols-3-2 _pd">
               <div class="bdr bg-clr2 ml0 rltv">
                  <div class="h20 min-w40 rc10 bg-clr14 abs top20 right20 pdlr5 fts14 ac">-4005</div>
                  <div class="fp abs zi3 pd20 clr24">
                     <p class="fts14 bld4"> New Customers</p>
                     <p class="fts30 bld5 "><i class="fa fa-caret-down clr4"></i> 20 </p>
                  </div>
               </div>
               <div class="bdr bg-clr2 rltv">
                  <div class="h20 min-w40 rc10 bg-clr8 abs top20 right20 pdlr5 fts14 ac">+4850</div>
                  <div class="fp abs zi3 pd20 clr24">
                     <p class="fts14 bld4"> Active Users</p>
                     <p class="fts30 bld4 "><i class="fa fa-caret-up clr22"></i> 150</p>
                  </div>
               </div>
               <div class="bdr bg-clr2 rltv mr0">
                  <div class="h20 min-w40 rc10 bg-clr18 abs top20 right20 pdlr5 fts14 ac">0</div>
                  <div class="fp abs zi3 pd20 clr24">
                     <p class="fts14 bld4"> Sales</p>
                     <p class="fts30 bld5 "><i class="fa fa-minus clr3"></i> 5 k</p>
                  </div>
               </div>
            </div>
         </section>
         <!---->
         <section class="h400 fph clr10 mb20">
            <div class="fp ">
               <div class="fpv fph-420 fl bg-clr2 bdr iblk rltv">
                  <p class="abs right20 top10 bld5 zi5 cur-ptr">Janury 2017 <i class="fa fa-chevron-down "></i></p>
                  <div class="fp" id="line-chart"></div>
               </div>
               <div class="fpv w400 fr bg-clr2 bdr iblk">
                  <div class="fp" id="doughnut-chart"></div>
               </div>
            </div>
         </section>
         <section class="h400 fph clr10">
            <div class="fp ">
               <div class="fpv fph-420 fl bg-clr2 bdr iblk rltv">
                  <div class="fp" id="lin-chart">
                     <div class="fp bdr bg-clr2">
                        <table class="fp">
                           <thead class="">
                              <tr class="h40">
                                 <th class="bb2 va-m">&nbsp;</th>
                                 <th class="pd10 bb2 va-m">Space</th>
                                 <th class="pd10 bb2 va-m">Amount</th>
                                 <th class="pd10 bb2 va-m al">Customer</th>
                                 <th class="bb2 pdr10 va-m">Status</th>
                                 <th class="bb2 pdr10 va-m al">Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="pd5 h60 bld5 bb">
                                 <td class="ac pd5 va-m">
                                    <div class="hw40 bdr ac oh rltv rc2 m0a">
                                       <img class="fpv ctr-h" style="max-width: initial" src="{% static 'frontend/images/fanta.png' %}" alt="WH Image"></div>

                                 </td>
                                 <td class="va-m ac">256</td>
                                 <td class="ac va-m">$ 500</td>
                                 <td class="ellipsify va-m  max-w150" title="Medicine ">Steve Blank</td>
                                 <td class="ac va-m">
                                    <button class="h30 rc15 min-w90 bg-clr15 clr2 cur-ptr pdlr20 ac">
                                       Pending
                                    </button>
                                 </td>
                                 <td class="va-m pd5">
                                    04-06-2018
                                 </td>

                              </tr>
                              <tr class="pd5 h60 bld5 bb">
                                 <td class="ac pd5 va-m">
                                    <div class="hw40 bdr ac oh rltv rc2 m0a">
                                       <img class="fpv ctr-h" style="max-width: initial" src="{% static 'frontend/images/fanta.png' %}" alt="WH Image"></div>
                                 </td>
                                 <td class="ac va-m">256</td>
                                 <td class="ac va-m">$ 500</td>
                                 <td class="ellipsify va-m  max-w150" title="Medicine ">Steve Blank</td>
                                 <td class="ac va-m">
                                    <button class="h30 rc15 bg-clr22 min-w90 clr2 cur-ptr pdlr20 ac">
                                       Done
                                    </button>
                                 </td>
                                 <td class="va-m pd5">
                                    04-06-2018
                                 </td>

                              </tr>
                           </tbody>
                           <tfoot>
                              <tr>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                                 <td></td>
                              </tr>
                           </tfoot>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="fpv w400 fr bg-clr2 bdr iblk">
                  <div class="fp" id="column-chart"></div>
               </div>
            </div>
         </section>
         <section class="pd30 pdb20 pdt10 mb20 ha fph">

         </section>
      </div>
   </section>

</div>
</body>
<script src="js/base.min.js"></script>

<script src="js/Dom.js"></script>

<script src="js/highcharts.src.min.js"></script>

<script src="js/analytics-charts.js"></script>
<!--<script src="http://sharehouse-rc1.herokuapp.com/js/devless-sdk.js" class="devless-connection"-->
        <!--devless-con-token="9b99b11895722438a725427ef1b57e2b"></script>-->
</html>