<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Depositor Dashboard</title>

   <link rel="stylesheet" href="css/bumblebee/root.css">
   <link rel="stylesheet" href="css/bumblebee/main.css">

   <link rel="stylesheet" href="css/bumblebee/menu.css">
   <!--<link rel="stylesheet" href="css/bumblebee/form.css">-->
   <!--<link rel="stylesheet" href="css/bumblebee/TabbedViewDockManager.css">-->
   <link rel="stylesheet" href="css/fonts/font-awesome.css">

   <link rel="stylesheet" href="css/sh/bumble-bee.min.css">
   <link rel="stylesheet" href="css/sh/sharehouse.css">
   <link rel="stylesheet" href="css/sh/flyout-toolbox.css">

</head>
<body class="rltv oh">
<div class="blk fp global-host ys rltv">
   <nav class="menubar abs fph blk bg-clr14">
      <div class="fp bg-clr24 clr24">
         <div class="fp blk abs nav-bg pdlr5p"></div>
         <div class="fpv fph95 blk pdl5p fl iblk">
            <div class="fp blk menu-container">
               <div class="head-logo rltv iblk fpv bg-clr24">
                  <div>
                     <a href="index.html">
                        <img src="css/images/SharehouseLogo.png" alt="sharehouse logo" class="">
                     </a>
                  </div>
                  <div></div>
               </div>
               <div class="menu h-menu rltv iblk fpv ">
                  <ul>
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">About</a></li><!-- team info shd be here -->
                     <li><a href="#">Contact</a></li>
                     <li>

                     </li>
                  </ul>
               </div>
            </div>
         </div>

         <div class="fpv hw40 iblk pdtb20">
            <img id="" class="hw40 rc50p bdr" src="css/images/usravatar.png" alt="Checkkit" height="30">
         </div>
      </div>
   </nav>
   <section id="workspace" class="container home fph fpv fpv-80 mt80 oh">
      <!--TOOLBOX-->
      <div class="toolbox-container w60 fpv fl iblk bg-clr24">
         <div class="toolbox rltv">
            <div class="fph ha ctr-v left0">
               <ul class="toolbox-list">
                  <!--subject -->
                  <li class="active">
                     <a class="normalTip " data-tbTip="Subjects" title="Subjects">
                        <span class="toolBoxIconItem commandIcon" data-tbTip="Subjects" data-bgpos="-183,-2">
                           <i class="fa fa-home"></i>
                        </span>
                     </a>
                  </li>

                  <!-- grades-->
                  <li class="">
                     <a href="#" data-tbTip="Manage Grades" class="noSub">
                        <span class="toolBoxIconItem commandIcon tbIs3" data-bgpos="-216,-74">
                           <i class="fa fa-area-chart"></i>
                        </span>
                     </a>
                  </li>

                  <!--reports-->
                  <!--<li class="">
                     <a href="#" data-tbTip="Reports" class="noSub">
                        <span class="toolBoxIconItem commandIcon tbIs2" data-bgpos="-58,-14">
                           <i class="fa fa-facebook"></i>
                        </span>
                     </a>
                  </li>-->

                  <!--Message-->

                  <!--<li class="hDivider"></li>-->

               </ul>
            </div>
         </div>
      </div>
         <!--desktop-->
      <div class="desktop fpv fph-60 iblk pd30 bg-clr27 ys">
         <!--Greeting section-->
         <section class="h100 fph clr10 mb20 rltv">
            <p class="fts30 bld5 mb10 rltv wa max-w250">Warehouse Listing
               <span class="bld6 bg-clr4 clr2 h25 min-w25 rc13 abs top0p-15 right0p-15 fts14 ac pdt5">7</span>
            </p>
            <span class="fts18 bld4 mr20">All rentals <i class="fa fa-chevron-down"></i></span>
            <span class="fts18 bld4">Add Filter Option <i class="fa fa-chevron-down"></i></span>
            <button class="min-w100 h40 rc20 bg-clr4 clr2 abs top20 right0 pdlr20">
               <i class="fa fa-plus"></i> Add Warehouse</button>
         </section>
         <!---->
         <section class="ha fph clr10 mb20">
            <section class="">
               <div class="fp flex-cols-4-1 mb30">
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                        <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
               </div>
               <div class="fp flex-cols-4-1 mb20">
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="code-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
               </div>
            </section>
         </section>
      </div>
   </section>

</div>
</body>
<script src="js/base.min.js"></script>
<script src="js/Dom.js"></script>
<script src="js/highcharts.src.min.js"></script>

<!--<script src="js/analytics-charts.js"></script>-->
<!--<script src="http://sharehouse-rc1.herokuapp.com/js/devless-sdk.js" class="devless-connection"-->
        <!--devless-con-token="9b99b11895722438a725427ef1b57e2b"></script>-->
</html>