<div class="toolbox w60 rltv">
   <!---->
   <div class="fph ha ctr-v left0">
      <ul class="toolbox-list">

         <li class="active rltv">
            <a class="">
               <div class="fp rltv" data-tooltip="Manage Listings" tooltip-pos="right">
                  <span class="ctr-hv fts24 pe-n">
                     <i class="fa fa-home"></i>
                  </span>
               </div>
            </a>
         </li>
         <li class="">
            <a class="">
               <div class="fp rltv" data-tooltip="In Storage" tooltip-pos="right">
                  <span class="ctr-hv fts24 pe-n">
                  <i class="fa fa-shopping-basket"></i>
               </span>
               </div>
            </a>
         </li>
         <li class="">
            <a href="operator-dashboard.html" class="noSub">
               <div class="fp rltv" data-tooltip="More Info" tooltip-pos="right">
                  <span class="ctr-hv fts24 pe-n">
                  <i class="fa fa-area-chart"></i>
               </span>
               </div>
            </a>
         </li>

         <!--reports-->
         <!--<li class="">
            <a href="#" data-tbTip="Reports" class="noSub">
               <span class="toolBoxIconItem commandIcon tbIs2" data-bgpos="-58,-14">
                  <i class="fa fa-facebook"></i>
               </span>
            </a>
         </li>-->

         <!--Message-->

         <!--<li class="hDivider"></li>-->

      </ul>
   </div>

   <!--company profile-->
   <div class="fph h60 btm10 left0 pd10 abs" data-tooltip="Agrona Company Ltd" tooltip-pos="right">
      <div class="fp rc60 bg-clr27 rltv oh">
         <img src="/images/agrona.png" alt="" class="ctr-hv fpv">
      </div>
   </div>
</div>