<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Depositor Dashboard</title>

   <link rel="stylesheet" href="css/bumblebee/root.css">
   <link rel="stylesheet" href="css/bumblebee/main.css">

   <link rel="stylesheet" href="css/bumblebee/menu.css">
   <!--<link rel="stylesheet" href="css/bumblebee/form.css">-->
   <!--<link rel="stylesheet" href="css/bumblebee/TabbedViewDockManager.css">-->
   <link rel="stylesheet" href="css/fonts/font-awesome.css">

   <link rel="stylesheet" href="css/sh/bumble-bee.css">
   <link rel="stylesheet" href="css/sh/sharehouse.css">
   <link rel="stylesheet" href="css/sh/flyout-toolbox.css">

   <!--<link rel="stylesheet" href="css/sh/tooltip.css">-->

</head>
<body class="rltv oh">
<div class="blk fp global-host ys rltv">
   <nav class="menubar abs fph blk bg-clr14">
      <div class="fp bg-clr24 clr24">
         <!--<div class="fp blk abs nav-bg pdlr5p"></div>-->
         <div class="fpv fph95 blk pdl5p fl iblk">
            <div class="fp blk menu-container">
               <div class="head-logo rltv iblk fpv bg-clr24">
                  <div>
                     <a href="index.html">
                        <img src="css/images/SharehouseLogo.png" alt="sharehouse logo" class="">
                     </a>
                  </div>
                  <div></div>
               </div>
               <div class="menu h-menu rltv iblk fpv ">
                  <ul>
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">About</a></li><!-- team info shd be here -->
                     <li><a href="#">Contact</a></li>
                     <li>

                     </li>
                  </ul>
               </div>
            </div>
         </div>

         <div class="fpv hw40 iblk pdtb20">
            <div class="blk hw40 user-img">
               <img id="" class=" fp rc50p bdr" src="css/images/usravatar.png" alt="Checkkit" height="30">
               <ul class=" user-menu ha w200 bg-clr2 rc2 bs-3-3 abs right25 top70 tri-t-83p pd5">
                  <li class="h35 fph bb bg-clr2">
                     <a class="fp pdlr10 pdt6 cur-ptr hov-bg-clr27 bld5 blk">
                        <i class="fa fa-user-secret mr5 fts18"></i> Shadrack Miano
                     </a>
                  </li>
                  <li class="h35 fph bb bg-clr2">
                     <a href="depositor-dashboard.html" class=" fp pdlr10 pdt6 cur-ptr hov-bg-clr27 bld5 blk">
                        <i class="fa fa-cog mr5 fts18"></i> <span>Settings</span>
                     </a>
                  </li>
                  <li class="h35 fph bg-clr2">
                     <a class=" fp pdlr10 pdt6 cur-ptr hov-bg-clr27 bld5 blk">
                        <i class="fa fa-power-off mr5 fts18"></i> Logout
                     </a>
                  </li>
               </ul>

            </div>
         </div>
      </div>
   </nav>
   <section id="workspace" class="container home fph fpv fpv-80 mt80 oh">
      <!--desktop-->
      <div class="desktop fpv fph iblk pd30 bg-clr27 ys">
         <!--Greeting section-->
         <section class="h70 fph clr10 rltv ac">
            <p class="fts24 bld5 mb10 rltv wa max-w300 bdr m0a rc30 pdtb5 bg-clr2">Warehouses Rented
            </p>
         </section>
         <!--Cards Sections-->
         <section class="ha fph clr10 mb20">
            <section class="">
               <div class="fp flex-cols-4-1 mb30 jc-sb">
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
               </div>
               <div class="fp flex-cols-4-1 mb20">
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
                  <div class="dsb-wh-card h350 bg-clr2 bs-2-3 mr20 oh">
                     <!--name part of card-->
                     <div class="wh-name h50 pdtb5 pdlr10 bld6 ac">
                        <p class="fts16">Warehouse Name Here</p>
                        <p class="fts12 op6"><i class="fa fa-map-marker"></i> Location Here</p>
                     </div>
                     <!--image part of card-->
                     <div class="wh-img-container bb h200 rltv oh">
                        <div class="fp bt bb ac oh rltv rc2 m0a">
                           <img class="fpv ctr-h max-w-ini" src="css/images/warehouse-Forklift.jpg" alt="WH Image">
                        </div>
                     </div>
                     <!--<img class="ctr-hv h290" src="#" alt="" height="140"></div>-->
                     <div class="wh-detail pdtb10 pdlr10 bld6 ac">
                        <p class="ft18 oh max-h50 lh15">A spacious and well racked with CCTV camera, as washroom, security post</p>
                        <p class="fts12 clr23 pdt10"> $ 20.00 /sq m</p>
                     </div>
                  </div>
               </div>
            </section>
         </section>
      </div>
   </section>

</div>
</body>
<script src="js/base.min.js"></script>
<script src="js/Dom.js"></script>
<script src="js/highcharts.src.min.js"></script>

<!--<script src="js/analytics-charts.js"></script>-->
<!--<script src="http://sharehouse-rc1.herokuapp.com/js/devless-sdk.js" class="devless-connection"-->
<!--devless-con-token="9b99b11895722438a725427ef1b57e2b"></script>-->
</html>