<nav class="menubar abs fph blk bg-clr14">
   <div class="fp bg-clr24 clr24">
      <!--<div class="fp blk abs nav-bg pdlr5p"></div>-->
      <div class="fpv fph95 blk pdl40 fl iblk">
         <div class="fp blk menu-container">
            <div class="head-logo rltv iblk fpv bg-clr24">
               <div>
                  <a href="/">
                     <img src="/images/SharehouseLogo.png" alt="sharehouse logo" class="">
                  </a>
               </div>
               <div></div>
            </div>
            <!--<div class="menu h-menu rltv iblk fpv ">
               <ul>
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About</a></li>&lt;!&ndash; team info shd be here &ndash;&gt;
                  <li><a href="#">Contact</a></li>
                  <li>

                  </li>
               </ul>
            </div>-->
         </div>
      </div>

      <div class="fpv hw40 iblk pdtb20">
         <div class="blk hw40 user-img">
            <img id="" class=" fp rc50p bdr" src=" /images/usravatar.png" alt="Checkkit" height="30">
            <ul class=" user-menu ha w200 bg-clr2 rc2 bs-3-3 abs right25 top70 tri-t-83p pd5">
               <li class="h35 fph bb bg-clr2">
                  <a class="fp pdlr10 pdt6 cur-ptr hov-bg-clr27 bld5 blk">
                     <i class="fa fa-user-secret mr5 fts18"></i> <%= user.first_name + ' ' + user.last_name %>
                  </a>
               </li>
               <li class="h35 fph bb bg-clr2">
                  <a href="/user/dashboard" class=" fp pdlr10 pdt6 cur-ptr hov-bg-clr27 bld5 blk">
                     <i class="fa fa-cog mr5 fts18"></i> <span>Settings</span>
                  </a>
               </li>
               <li class="h35 fph bg-clr2">
                  <a href="/logout" class=" fp pdlr10 pdt6 cur-ptr hov-bg-clr27 bld5 blk">
                     <i class="fa fa-power-off mr5 fts18"></i> Logout
                  </a>
               </li>
            </ul>

         </div>
      </div>
   </div>
</nav>